<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="JSON_practice.DeleteMethod"/>
      <class name="JSON_practice.PostMethod"/>
      <class name="com.tests.SeleniumTest"/>
      <class name="JSON_practice.GETId"/>
      <class name="com.tests.GetUserTest"/>
      <class name="com.tests.APIValidationTest"/>
      <class name="JSON_practice.PutMethod"/>
      <class name="JSON_practice.GETCount"/>
      <class name="com.tests.CreateUserTest"/>
      <class name="restassured_practice.CreateTrainee"/>
      <class name="restassured_practice.DeleteTrainee"/>
      <class name="restassured_practice.GetTrainee"/> 
      <class name="restassured_practice.InvalidTrainee"/>
      <class name="restassured_practice.UpdateTrainee"/>
      <class name="restassured_practice.InvalidLogin"/>
      <class name="restassured_practice.PartialUpdate"/>
      <class name="restassured_practice.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
