<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="JSON_practice.DeleteMethod"/>
      <class name="JSON_practice.PostMethod"/>
      <class name="com.tests.SeleniumTest"/>
      <class name="JSON_practice.GETId"/>
      <class name="com.tests.GetUserTest"/>
      <class name="com.tests.APIValidationTest"/>
      <class name="JSON_practice.PutMethod"/>
      <class name="JSON_practice.GETCount"/>
      <class name="com.tests.CreateUserTest"/>
      <class name="restassured_practice.CreateTrainee"/>
      <class name="restassured_practice.InvalidTrainee"/>
      <class name="restassured_practice.InvalidLogin"/>
      <class name="restassured_practice.Login"/>
      <class name="com.lms_practice.GetAllInstitutions"/>
      <class name="com.lms_practice.GetAllRoles"/>
      <class name="com.lms_practice.GetAllScoreStructure"/>
      <class name="com.lms_practice.HealthCheck"/>
      <class name="com.lms_practice.Login"/>
      <class name="com.lms_practice.WithoutToken"/>
      <class name="com.lms_practice.CreateNote"/>
      <class name="com.lms_practice.DeleteNote"/>
      <class name="com.lms_practice.GetAllNotes"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
